.cardAlbum {
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  cursor: pointer;
}

.cardAlbum .image1,
.cardAlbum .image2 {
  flex: 1;
  height: 30vh;
  overflow: hidden;
  margin-bottom: 10px;
}


.cardAlbum .image1 {
  background-color: gray;
  margin-left: 10px;
  border-top-left-radius: 8px;
}

.cardAlbum .image2 {
  background-color: #ffffff;
  margin-right: 10px;
  padding: 0;
  margin-left: 4px;
  border-top-right-radius: 8px;
}

.cardAlbum .image2 .image3 {
  background-color: gray;
  border-top-right-radius: 8px;
  display: flex;
  height: 50%;
  margin-bottom: 2px;
}

.cardAlbum .image2 .image4 {
  background-color: gray;
  display: flex;
  height: 50%;
}

.container {
  display: grid;
  padding: 20px;
  height: 100vh;
  width: 100%;
  margin-top: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-row-gap: 10px;
}

.buttonUpload{
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 30px;
  border-radius: 50%;
  align-items: center;
  padding: 20px;
}

.button {
  background-color: #4CAF50;
  /* Warna latar belakang */
  color: white;
  /* Warna teks */
  padding: 15px 32px;
  /* Padding dan ukuran */
  text-align: center;
  /* Penataan teks */
  text-decoration: none;
  /* Dekorasi teks */
  font-size: 16px;
  width: 20%;
  margin: 9px 10px;
  cursor: pointer;
  /* Cursor saat mouse diatas button */
  border-radius: 8px;
  /* Sudut bulat */
}

.button:hover {
  background-color: #45a049;
  /* Warna saat di-hover */
}

.button:active {
  background-color: #3e8e41;
  /* Warna saat diklik */
  box-shadow: 0 5px #666;
  /* Bayangan saat diklik */
  transform: translateY(4px);
  /* Pergerakan saat diklik */
}