.body {
    display: flex;
    margin-left: 224px;
    background-color: white;
    transition: margin-left 0.5s ease;
    flex-grow: 1;
    margin-top: 48px;
}

.full {
    margin-left: 68px;
    transition: margin-left 0.5s ease;
}

@media screen and (max-width: 768px) {
    .body {
        margin-left: 68px;
        transition: margin-left 0.5s ease;
    }

    .full {
        margin-left: 0px;
        transition: margin-left 0.5s ease;
    }
}